<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="page-container">
    <header th:replace="fragments/commons::header"></header>

    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Task</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <form class="mx-auto w-25 bg-blur"
              th:method="POST"
              th:action="@{/tasks/add}"
              th:object="${taskModel}">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input th:field = "*{name}" type="text"  th:errorclass = "bg-danger" class="form-control" id="name" name="name"/>
                <small th:errors = "*{name}" th:errorclass="text-danger">Name error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input th:field = "*{description}" th:errorclass = "bg-danger" type="text" class="form-control" id="description" name="description"/>

                <small th:errors = "*{description}"  th:errorclass="text-danger"  class="text-danger">Description error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="dueDate" class="h4 mb-2">Due Date</label>
                </div>
                <input th:field = "*{date}" th:errorclass = "bg-danger" type="date" class="form-control" id="dueDate" name="dueDate"/>
                <small th:errors = "*{date}"  th:errorclass="text-danger" class="text-danger">Date error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="classification" class="h4 mb-2">Classification</label>
                </div>
                <select th:field = "${taskModel.classificationName}" type="text" class="form-control" id="classification" name="classification">
                    <option value="">Select Classification</option>
                    <th:block th:each = "c : ${classifications}" th:object = "${c}">
                        <option th:value="${c.classificationName}" th:text="${c.classificationName}">FEATURE</option>
                    </th:block>

                </select>
                <small th:errors = "${taskModel.classificationName}" th:errorclass = "text-danger" class="text-danger">Classification error message</small>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button btn-warning  mb-3" value="Register">Add Task</button>
            </div>
        </form>
    </main>
    <footer class="footer" th:include="fragments/commons::footer">
    </footer>
</div>


</body>
</html>