<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
      <head th:replace="fragments/commons::head">

        </head>
<body>
        <header th:replace="fragments/commons::header">

        </header>
    <main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
        <hr class="hr-3"/>
        <div class="bg-blur container w-50">
            <div class="row mb-4 d-flex flex-column text-center" th:each="item : ${items}" th:object="${item}">
                <a th:href="@{/products/details/{id} (id = *{id})}">
                    <img library="img" th:src="*{'/img/' + gender.name()+ '-' +category.name() + '.jpg' }" class="img-thumbnail" width="200"
                      height="200"/>
                </a>
                 <h5 class="text-center" th:text="*{name}">Buzzer</h5>
                <h2 class="text-center" th:text="*{#numbers.formatDecimal(price,0, 'COMMA' , 2,  'POINT')}">65.00</h2>
            </div>
        </div>
    </main>
    <span style="visibility: hidden">...</span>
        <footer class="footer bg-dark  py-2" th:include="fragments/commons::footer">
        </footer>
</body>
</html>
